body{
	background: url("/resources/images/maintenance-background.jpg");
	background-size: 100vw;
	color: rgb(255, 255, 255)!important;
}

/* For mobile phones and devices not in the media queries */

nav{
	margin-bottom: 28vh;
	border-bottom: .5vh solid rgb(241, 241, 241);
}

nav > div >h2{
	color: rgb(238, 238, 238)!important;
}

.countdown-container{
	margin-bottom: 12vh;
}

.countdown-container > div > span{
	font-size: 80%;
}

[class*="left-span"]{
	color: rgb(238, 238, 238);
	font-size: 200%;
}

.coming-soon-div > h6{
	color: rgb(216, 216, 216);
}

.coming-soon-div > p{
	font-size: 105%;
}


/* For tablets */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){	
	nav{
		margin-bottom: 23.5vh;
		border-bottom: .35vh solid rgb(241, 241, 241);
	}
	
	.countdown-container{
		margin-bottom: 16.5vh;
	}
	
	[class*="left-span"]{
		font-size: 250%;
	}
	
	.coming-soon-div > h6{
		font-size: 105%;
	}
	
	.coming-soon-div > p{
		font-size: 110%;
	}
}