body{
	background: url("/resources/images/maintenance-background.jpg");
	background-size: 100vw;
}

/* For mobile phones and devices not in the media queries */

nav{
	margin-bottom: 28vh;
	border-bottom: .5vh solid rgb(241, 241, 241);
}

nav > div >h2{
	color: rgb(238, 238, 238)!important;
}

.countdown-info-container-div{
	color: rgb(255, 255, 255);
}

.countdown-digits-container-div{
	margin-bottom: 12vh;
}

.countdown-digits-container-div > div > span{
	font-size: 80%;
}

[class*="left-span"]{
	color: rgb(238, 238, 238);
	font-size: 200%;
}

.coming-soon-div > h6{
	color: rgb(216, 216, 216);
}

.coming-soon-div > p{
	font-size: 105%;
}


/* For tablet screens */

@media only screen and (min-width: 768px) and (max-width: 1024px){
	nav{
		margin-bottom: 23.5vh;
		border-bottom: .35vh solid rgb(241, 241, 241);
	}
	
	.countdown-digits-container-div{
		margin-bottom: 16.5vh;
	}
	
	[class*="left-span"]{
		font-size: 250%;
	}
	
	.coming-soon-div > h6{
		font-size: 105%;
	}
	
	.coming-soon-div > p{
		font-size: 110%;
	}
}


/* For Desktop and Laptop screens */

@media only screen and (min-width: 1025px) and (max-width: 1600px){
	nav{
		margin-bottom: 22vh;
	}
	
	.countdown-digits-container-div{
		margin-bottom: 18.5vh;
	}
	
	.countdown-digits-container-div > div > span{
		font-size: 85%;
	}
	
	[class*="left-span"]{
		font-size: 260%;
	}
	
	.coming-soon-div > h6{
		font-size: 105%;
	}
	
	.coming-soon-div > p{
		font-size: 115%;
	}
}


/* For Television and large screens */

@media only screen and (min-width: 1601px) and (max-width: 2280px){
	nav{
		margin-bottom: 24vh;
		border-bottom: .4vh solid rgb(241, 241, 241);
	}
	
	.countdown-digits-container-div{
		margin-bottom: 25vh;
	}
	
	.countdown-digits-container-div > div > span{
		font-size: 110%;
	}
	
	[class*="left-span"]{
		font-size: 330%;
	}
	
	.coming-soon-div > h6{
		font-size: 130%;
	}
	
	.coming-soon-div > p{
		font-size: 160%;
	}
}