body{
	background-color: rgb(240, 251, 255)!important;
}

.navbar{
	background-color: rgb(173, 241, 238);
}

.navbar-brand-image{
	width: 30%;
}

.navbar-nav{
	text-align: right;
}

/* For the Library button*/
/* Remove default border from bootstrap and make the text black */
.navbar-toggler{
	border: none!important;
	color: #000000!important;
}
/* Remove the default box-shadow when focused */
.navbar-toggler:focus{
	box-shadow: none!important;
}

.nav-item{
	padding: 0 3% 0 0;
}
.nav-item:hover{
	padding: 0 4% .5% 0;
	background-color: rgb(120, 233, 227);
}
.nav-item:active{
	background-color: rgb(104, 187, 183);
}


/* For mobile phones and devices not in the media queries */

/* For the song player */
footer{
	padding-top: 2%;
	background-color: rgb(92, 223, 216);
}

.song-player-time-progress-bar-name-and-artist-container-div{
	color: rgb(0, 0, 0);
}

.song-player-song-name{
	width: 85%;
	margin: auto;
	font-size: 68%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.song-player-artist-name{
	width: 80%;
	margin: auto;
	font-size: 60%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.song-player-elapsed-time-span{
	font-size: 80%;
}
.song-player-progress-bar{
	width: 70vw;
}
.song-player-remaining-time-span{
	font-size: 80%;
}

.song-player-controls-div{
	display: flex;
}
.song-player-controls-div > button{
	margin: auto;
}


#music_previews_page{
	display: block;
	height: 74vh;
	overflow: scroll;
	scroll-behavior: smooth;
}
#music_previews_page::-webkit-scrollbar{
	display: none;
}

.expand-songs-previews-div{
	margin-top: 2%;
}

.expand-songs-previews-div > a > span{
	float: left;
	font-size: large;
	font-weight: 500;
	color: rgb(14, 14, 14);
}

.expand-songs-previews-div > a > button{
	float: right;
}

/* For the songs previews */
.songs-previews-div-ul{
	display: flex;
	width: 100%;
	margin-bottom: 8%;
	padding: 0 2% 0 2%;
	list-style: none;
	overflow: scroll;
	scroll-behavior: smooth;
}
.songs-previews-div-ul::-webkit-scrollbar{
	display: none;
}

.songs-previews-div-ul  > li{
	width: 25vw;
	height: 30vw;
	margin-right: 1.5%;
}

.songs-previews-div-ul  > li > .image-and-image_play-container{
	display: flex;
	position: relative;
	width: 100%;
	height: 75%;
	align-items: center;
	justify-content: center;
}

.songs-previews-div-ul  > li > .image-and-image_play-container > img{
	width: 22vw;
	transition: .3s linear;
}
.songs-previews-div-ul  > li:hover > .image-and-image_play-container > img{
	filter: brightness(55%);
}

.songs-previews-div-ul  > li > .image-and-image_play-container > span{
	position: absolute;
	font-size: 140%;
	color: rgb(255, 255, 255);
	opacity: 0;
	cursor: pointer;
	transition: .3s linear;
}
.songs-previews-div-ul  > li:hover > .image-and-image_play-container > span{
	opacity: 1;
}

.songs-previews-div-ul  > li > h5{
	margin: 5% 0 2% 3%;
	overflow: hidden;
	font-size: 65%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.songs-previews-div-ul  > li > h6{
	margin-left: 3%;
	font-size: 55%;
	color: rgb(98, 100, 104);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.expand-albums-previews-div{
	margin-top: 2%;
}

.expand-albums-previews-div > a > span{
	float: left;
	font-size: large;
	font-weight: 500;
	color: rgb(14, 14, 14);
}

.expand-albums-previews-div > a > button{
	float: right;
}

/* For the albums previews */
.albums-previews-div-ul{
	display: flex;
	width: 100%;
	margin-bottom: 8%;
	padding: 0 2% 0 2%;
	list-style: none;
	overflow: scroll;
	scroll-behavior: smooth;
}
.albums-previews-div-ul::-webkit-scrollbar{
	display: none;
}

.albums-previews-div-ul > li{
	width: 23vw;
	height: 30vw;
	margin-right: 2%;
}

.albums-previews-div-ul >  li > img{
	position: relative;
	height: 75%;
	transition: .25s linear;
}
.albums-previews-div-ul > li:hover > img{
	filter: brightness(50%);
}

.albums-previews-div-ul > li > h5{
	margin: 5% 0 2% 3%;
	font-size: 65%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} 

.albums-previews-div-ul > li > h6{
	margin-left: 3%;
	font-size: 55%;
	color: rgb(98, 100, 104);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


#songs_list_page{
	display: none;
}

/* For the songs list page */
.songs-list-div > h3{
	margin-top: 1%;
}

.songs-list-div-ul{
	width: 100%;
	height: 74vh;
	padding: 0 3% 12.5% 3%;
	list-style: none;
	overflow: scroll;
	scroll-behavior: smooth;
}
.songs-list-div-ul::-webkit-scrollbar{
	display: none;
}

.songs-list-div-ul > li{
	display: flex;
	align-items: center;
	border-radius: 1.25vw;
	margin-bottom: 1.4%;
	padding: 1.5% 2%;
	background-color: rgb(16, 142, 226);
	transition: .1s linear;
}
.songs-list-div-ul > li:hover{
	background-color: rgb(19, 115, 184)!important;
}

.song-list-song-li-image-container{
	width: 11%;
	margin: 0 3.5% 0 1%;
}
.song-list-song-li-image-container > img{
	width: 100%;
	border-radius: 1vw;
}

.song-list-song-li-text-container{
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
}
.song-list-song-li-text-container > h5{
	margin: 0;
	font-size: 70%;
	color: rgb(240, 251, 255);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.song-list-song-li-text-container > h6{
	margin: 0;
	font-size: 60%;
	color: rgb(210, 211, 214);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.song-list-song-li-button-container > button{
	font-size: 125%;
	color: rgb(240, 251, 255);
}


/* For the albums list page */
#albums_list_page{
	display: none;
}

.albums-list-div > h3{
	margin-top: 1%;
}

.albums-list-div-ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 74vh;
	padding: 0 0 10% 3%;
	list-style: none;
	overflow: scroll;
	scroll-behavior: smooth;
}
.albums-list-div-ul::-webkit-scrollbar{
	display: none;
}

.albums-list-div-ul > li{
	width: 23vw;
	height: 30vw;
	margin: 0 4% 5% 0;
}

.albums-list-div-ul >  li > img{
	position: relative;
	height: 75%;
	transition: .25s linear;
}
.albums-list-div-ul > li:hover > img{
	filter: brightness(50%);
}

.albums-list-div-ul > li > h5{
	margin: 5% 0 2% 0;
	font-size: 65%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} 

.albums-list-div-ul > li > h6{
	font-size: 55%;
	color: rgb(98, 100, 104);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/* For the specific album songs list page */
#specific_album_page{
	display: none;
}

.specific-album-image{
	width: 24%;
	margin: 4% 0 3% 0;
	border-radius: 1vw;
}

.specific-album-name{
	margin: 0;
	font-size: 85%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.specific-album-artist-name{
	margin: 1% 0 2% 0;
	font-size: 75%;
	color: rgb(98, 100, 104);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.specific-album-div-ol{
	width: 100%;
	height: 50vh;
	padding: 0 3% 15% 3%;
	overflow: scroll;
	scroll-behavior: smooth;
}
.specific-album-div-ol::-webkit-scrollbar{
	display: none;
}

.specific-album-div-ol > li:before{
	content: var(--track-number-for-album);
	margin: 0 2% 0 0;
	font-size: 70%;
	color: rgb(240, 251, 255);
}
.specific-album-div-ol > li{
	display: flex;
	align-items: center;
	border-radius: 1.25vw;
	margin-bottom: 1.4%;
	padding: 1.5% 2%;
	background-color: rgb(16, 142, 226);
	transition: .1s linear;
}
.specific-album-div-ol > li:hover{
	background-color: rgb(19, 115, 184)!important;
}

.specific-album-songs-li-image-container{
	width: 11%;
	margin: 0 3.5% 0 1%;
}
.specific-album-songs-li-image-container > img{
	width: 100%;
	border-radius: 1vw;
}

.specific-album-songs-li-text-container{
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
}
.specific-album-songs-li-text-container > h5{
	margin: 0;
	font-size: 70%;
	color: rgb(240, 251, 255);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.specific-album-songs-li-text-container > h6{
	margin: 0;
	font-size: 60%;
	color: rgb(210, 211, 214);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.specific-album-songs-li-button-container > button{
	font-size: 125%;
	color: rgb(240, 251, 255);
}


/* For tablet screens */

@media only screen and (min-width: 768px) and (max-width: 1024px){
	/* For the navbar */
	.navbar-nav{
		font-weight: 500;
	}


	/* For the song player */
	footer{
		padding-top: 1%;
	}

	.song-player-song-name{
		font-size: 75%;
	}
	.song-player-artist-name{
		font-size: 63%;
	}

	.song-player-elapsed-time-span{
		font-size: 82%;
	}
	.song-player-progress-bar{
		width: 72vw;
	}
	.song-player-remaining-time-span{
		font-size: 82%;
	}

	.song-player-controls-div{
		display: flex;
	}
	.song-player-controls-div > button{
		margin: auto;
	}


	/* For the music previews div */
	#music_previews_page{
		padding: 0 2%;
	}

	.expand-songs-previews-div{
		margin-top: 1%;
	}

	/* For the songs previews */
	.songs-previews-div-ul{
		margin-bottom: 0;
		padding: 0;
	}

	.songs-previews-div-ul  > li{
		width: 14vw;
		height: 20vw;
	}

	.songs-previews-div-ul  > li > .image-and-image_play-container > img{
		width: 14vw;
	}

	.songs-previews-div-ul  > li > .image-and-image_play-container > span{
		font-size: 160%;
	}

	.songs-previews-div-ul  > li > h5{
		font-size: 73%;
	}

	.songs-previews-div-ul  > li > h6{
		font-size: 63%;
	}

	/* For the songs previews */
	.expand-albums-previews-div{
		margin-top: 0;
	}

	/* For the albums previews */
	.albums-previews-div-ul{
		display: flex;
		width: 100%;
		padding: 0;
	}

	.albums-previews-div-ul > li{
		width: 13vw;
		height: 19vw;
		margin-right: 3%;
	}

	.albums-previews-div-ul > li > h5{
		font-size: 72%;
	} 

	.albums-previews-div-ul > li > h6{
		font-size: 64%;
	}


	/* For the songs list page */
	.songs-list-div > h3{
		margin-top: .5%;
		font-size: 130%;
	}

	.songs-list-div-ul{
		height: 68vh;
		padding: 0 3% 1% 3%;
	}

	.songs-list-div-ul > li{
		margin-bottom: 1%;
		padding: 1.5% .5%;
	}

	.song-list-song-li-image-container{
		width: 6%;
		margin: 0 3% 0 1%;
	}

	.song-list-song-li-text-container{
		width: 83.5%;
	}
	.song-list-song-li-text-container > h5{
		margin-bottom: .4%;
		font-size: 78%;
	}
	.song-list-song-li-text-container > h6{
		font-size: 68%;
	}

	.song-list-song-li-button-container > button{
		font-size: 130%;
	}


	/* For the albums list page */

	.albums-list-div > h3{
		margin: .5% 0 1% 0;
		font-size: 130%;
	}

	.albums-list-div-ul{
		height: 70vh;
		padding: 0 0 1% 3%;
	}

	.albums-list-div-ul > li{
		width: 19vw;
		height: 24vw;
		margin: 0 4% 0 0;
	}

	.albums-list-div-ul > li > h5{
		font-size: 75%;
	} 

	.albums-list-div-ul > li > h6{
		font-size: 65%;
	}


	/* For the specific album songs list page */
	.specific-album-image{
		width: 14%;
		margin: 1.5% 0 1% 0;
	}

	.specific-album-name{
		margin: 0;
		font-size: 85%;
	}

	.specific-album-artist-name{
		margin: .5% 0 1% 0;
		font-size: 78%;
	}

	.specific-album-div-ol{
		height: 45vh;
		padding: 0 3% 2% 3%;
	}

	.specific-album-div-ol > li:before{
		margin: 0 1% 0 0;
		font-size: 82%;
	}
	.specific-album-div-ol > li{
		margin-bottom: 1%;
		padding: 1.2% 1.5%;
	}

	.specific-album-songs-li-image-container{
		width: 6%;
		margin: 0 0 0 1%;
	}

	.specific-album-songs-li-text-container{
		width: 86%;
	}
	.specific-album-songs-li-text-container > h5{
		margin-bottom: .5%;
		font-size: 78%;
	}
	.specific-album-songs-li-text-container > h6{
		font-size: 70%;
	}

	.specific-album-songs-li-button-container > button{
		font-size: 130%;
	}
}


/* For Desktop and Laptop screens */

@media only screen and (min-width: 1025px) and (max-width: 1600px){
	/* For the navbar */
	.navbar-nav{
		margin-right: 2.5%;
		font-weight: 500;
	}

	/* For the song player */
	footer{
		padding-top: .5%;
	}

	.song-player-song-name{
		margin-bottom: .1%;
		font-size: 83%;
	}
	.song-player-artist-name{
		font-size: 70%;
	}

	.song-player-elapsed-time-span{
		font-size: 110%;
	}
	.song-player-progress-bar{
		width: 82vw;
	}
	.song-player-remaining-time-span{
		font-size: 110%;
	}

	.song-player-controls-div > button{
		margin-top: 0;
		font-size: 135%;
	}

	/* For the music previews page */
	#music_previews_page{
		height: 77vh;
		padding: 0 1.5%;
	}


	.expand-songs-previews-div{
		margin: .3% 0 -1% 0;
	}

	/* For the songs previews */
	.songs-previews-div-ul{
		margin-bottom: 0;
		padding: 0;
	}

	.songs-previews-div-ul  > li{
		width: 11.5vw;
		height: 16vw;
	}

	.songs-previews-div-ul  > li > .image-and-image_play-container{
		width: 100%;
		height: 75%;
	}

	.songs-previews-div-ul  > li > .image-and-image_play-container > img{
		width: 11.5vw;
	}

	.songs-previews-div-ul  > li > .image-and-image_play-container > span{
		font-size: 165%;
	}

	.songs-previews-div-ul  > li > h5{
		margin: 1.5% 0 2% 3%;
		font-size: 76%;
	}

	.songs-previews-div-ul  > li > h6{
		margin-left: 3%;
		font-size: 66%;
	}


	.expand-albums-previews-div{
		margin: 0 0 -1% 0;
	}

	/* For the albums previews */
	.albums-previews-div-ul{
		margin-bottom: 0;
		padding: 0;
	}

	.albums-previews-div-ul > li{
		width: 11.2vw;
		height: 15vw;
	}

	.albums-previews-div-ul > li > h5{
		margin: 3.5% 0 2% 3%;
		font-size: 76%;
	} 

	.albums-previews-div-ul > li > h6{
		margin-left: 3%;
		font-size: 66%;
	}


	/* For the songs list page */
	.songs-list-div > h3{
		margin-top: .1%;
		font-size: 140%;
	}

	.songs-list-div-ul{
		height: 73vh;
		padding: 0 3% 1% 3%;
	}

	.songs-list-div-ul > li{
		margin-bottom: .7%;
		padding: 1%;
	}

	.song-list-song-li-image-container{
		width: 5%;
		margin: 0 2% 0 0;
	}

	.song-list-song-li-text-container{
		width: 88%;
	}
	.song-list-song-li-text-container > h5{
		margin-bottom: .3%;
		font-size: 83%;
	}
	.song-list-song-li-text-container > h6{
		font-size: 73%;
	}

	.song-list-song-li-button-container > button{
		font-size: 133%;
	}


	/* For the albums list page */
	.albums-list-div > h3{
		margin: .5% 0 .9% 0;
		font-size: 130%;
	}

	.albums-list-div-ul{
		height: 72vh;
		padding: 0 0 .5% 3%;
	}

	.albums-list-div-ul > li{
		width: 12vw;
		height: 15vw;
		margin: 0 4% .5% 0;
	}

	.albums-list-div-ul > li > h5{
		margin: 5% 0 2% 0;
		font-size: 82%;
	} 

	.albums-list-div-ul > li > h6{
		font-size: 66%;
	}


	/* For the specific album songs list page */
	.specific-album-image{
		width: 10%;
		margin: 1.3% 0 .8% 0;
	}

	.specific-album-name{
		font-size: 90%;
	}

	.specific-album-artist-name{
		margin: .1% 0 1% 0;
		font-size: 80%;
	}

	.specific-album-div-ol{
		height: 51vh;
		padding: 0 3% 1% 3%;
	}

	.specific-album-div-ol > li:before{
		margin: 0 auto 0 auto;
		font-size: 85%;
	}
	
	.specific-album-div-ol > li{
		margin-bottom: .8%;
		padding: 1%;
	}

	.specific-album-songs-li-image-container{
		width: 5%;
		margin: 0 3.5% 0 1%;
	}

	.specific-album-songs-li-text-container{
		width: 84%;
	}
	.specific-album-songs-li-text-container > h5{
		margin-bottom: .2%;
		font-size: 85%;
	}
	.specific-album-songs-li-text-container > h6{
		font-size: 75%;
	}

	.specific-album-songs-li-button-container > button{
		font-size: 135%;
	}
}